* {
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 20);
}

.background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    border-radius: 20px;
}

.viewer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease-in;
}
  
.uploader {
    min-width: 70vw;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
  
.uploader input[type="file"] {
    display: none;
}
  
.uploader label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    color: #fff;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
}
  
.uploader button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #28a745;
    font-size: 1em;
    background-color: #00000000;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
  
.uploader button:disabled {
    border: 2px solid #ccc;
    cursor: not-allowed;
}
  
.preview {
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
  
.preview img {
    border-radius: 20px;
    margin: 20px;
    object-fit: contain;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
}
  
.color-box {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.6);
}
  
.color-box:hover {
    width: 80%;
}
  
.color-display {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  
@media (max-width: 600px) {
    .color-display {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
  
    .color-box {
        text-align: center;
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    .color-box:hover {
        height: 100%;
        width: 100%;
    }
}

.color-name {
    filter: invert(1);
}

.uploader-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
#clipboardTextarea {
    position: absolute;
    left: -9999px;
}

.loading-image {
    width: auto;
    height: 40px;
    padding: 4px;
}
  
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}